<!-- style -->
<style>
        #categories-list {
            margin-top: 20px;
            height: 300px;
            overflow: hidden;
            overflow-y: scroll;
            list-style: none;
            padding: 0px;
        }
    
        #categories-list li {
            padding: 10px 0px;
            border-bottom: 1px solid #e6e6e6;
        }
    
        #categories-list li input {
            display: inline-block!important;
            width: auto;
            float: right;
            margin-right: 20px;
            margin-top: 10px;
        }
    </style>
    <!-- Main Content -->
    <section ng-controller="productEdit">
        <div class="row">
            <!-- current section info -->
            <div class="col-xl-12 col-lg-12 col-xs-12">
                <div class="card">
                    <div class="card-body">
                        <div class="media">
                            <div class="p-2 text-xs-center bg-cyan media-left media-middle">
                                <i class="icon-briefcase font-large-2 white"></i>
                            </div>
                            <div class="p-2 media-body">
                                <h4>Edit Product - {{productData.product_code}}</h4>
                                <h5 class="text-bold-400">
                                    You can edit product here, please provide all data that required for your product, 
                                    then you can press save button to submit your product into the database
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end -->        
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-body collapse in">
                        <div class="card-block card-dashboard">
                            <form class="form" ng-submit="saveProduct()">
                                <div class="form-body">
                                    <div class="row">
                                        <!-- main product information -->
                                        <input type="hidden" ng-model="productData.id">
                                        <input type="hidden" ng-model="productData.product_code">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label>Product Name</label>
                                                <input type="text" 
                                                class="form-control" placeholder="Product Name" 
                                                name="name" ng-model="productData.name" required>
                                            </div>
                                            <div class="form-group">
                                                    <label>Description</label>
                                                    <textarea class="form-control" 
                                                    placeholder="Specify the product description here" 
                                                    name='description' 
                                                    ng-model='productData.description' rows="14"></textarea>
                                            </div>
                                            <!-- Field Nested for Country, Province, and City -->
                                            <div class="form-group">
                                                <label>Product Location</label>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <select name="country"
                                                        ng-model="productData.country"
                                                        name="country" 
                                                        class="form-control nested"
                                                        ui-select2
                                                        data-placeholder="Select Country"
                                                        required
                                                        ng-required="true">
                                                            <option value=""></option>
                                                            <option ng-repeat="c in countries" value="{{c.id}}">{{c.name}}</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-4">
                                                            <select name="province"
                                                            ng-model="productData.province"
                                                            name="province" 
                                                            class="form-control nested"
                                                            ng-disabled="!provinces"
                                                            ui-select2
                                                            data-placeholder="Select Province"
                                                            required
                                                            ng-required="true">
                                                                <option value=""></option>
                                                                <option ng-repeat="p in provinces" value="{{p.id}}">{{p.name}}</option>
                                                            </select>
                                                    </div>
                                                    <div class="col-md-4">
                                                            <select name="city"
                                                            ng-model="productData.city"
                                                            name="province" 
                                                            class="form-control nested select2"
                                                            required
                                                            ng-disabled="!cities"
                                                            ui-select2
                                                            ng-required="true"
                                                            data-placeholder="Select City"
                                                            >
                                                                <option value="" disabled></option>
                                                                <option ng-repeat="c in cities" value="{{c.id}}">{{c.name}}</option>
                                                            </select>
                                                    </div>
                                                </div>    
                                            </div>
                                        </div>
                                        <div class="col-md-4" >
                                            <div class="form-group" ng-show="productData.image.src">
                                                <span class="error" ng-show="productData.image.$error.image">
                                                    Not a JPEG or a PNG!
                                                </span>
                                                <img ng-show="productData.image.src" 
                                                ng-src="{{productData.image.src}}" style="width:100%;" />
                                            </div>
                                            <div class="form-group">
                                                <label for='logoLight'>Product Image</label>
                                                <input type="file" 
                                                class="form-control" 
                                                name="logoLight" 
                                                image-with-preview 
                                                ng-model="productData.image" 
                                               accept="image/jpeg,image/png">
                                            </div>
                                            
                                            <div class="form-group">
                                                    <label>Product Price</label>
                                                    <div class="input-group">
                                                        <span class="input-group-addon">{{generalSettings.currency}}</span>
                                                        <input type="number" 
                                                        class="form-control" 
                                                        placeholder="123123" 
                                                        name="price" 
                                                        ng-model="productData.price"     
                                                        min="0"
                                                        required>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                        <label>Product Capital Price</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon">{{generalSettings.currency}}</span>
                                                            <input type="number" 
                                                            class="form-control" 
                                                            placeholder="123123" 
                                                            name="capital_price" 
                                                            ng-model="productData.capital_price"    
                                                            required 
                                                            min="0"
                                                            >
                                                        </div>
                                                </div>
                                                <div class="form-group">
                                                        <label>Product Sale Price</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon">{{generalSettings.currency}}</span>
                                                            <input type="number" 
                                                            class="form-control" 
                                                            placeholder="123123" 
                                                            name="sale_price" 
                                                            min="0"
                                                            ng-model="productData.sale_price"     
                                                            >
                                                        </div>
                                                </div>
                                                <div class="form-group">
                                                        <label>Product Qty</label>
                                                        <input type="number" 
                                                            class="form-control" 
                                                            placeholder="123123" 
                                                            name="qty" 
                                                            min="0"
                                                            ng-model="productData.qty"     
                                                        >
                                                </div>
                                                <!-- END -->
                                        </div>
                                    </div>
                                </div>
    
                                <div class="form-actions">
                                    <a href="/{{admin_url}}#!/products" class="btn btn-warning mr-1">
                                        <i class="icon-cross2"></i> Cancel
                                    </a>
                                    <button type="submit" class="btn btn-primary">
                                                  <i class="icon-check2"></i> Save
                                              </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- End Main Content -->
    <!-- INCLUDE JS -->
    <script src="/app/controller/productManagement/productEdit.js" type="text/javascript"></script>
    <!-- END INCLUDE JS -->
    