<!-- style -->
<style>
    h3{
        word-break: break-all;
        font-size: 18px;
    }
    #inqId .tag{
        position: absolute;
    top: 10px;
    right: 10px;
    }
    .pcode{
        font-size: 14px;
    color: #ca671a;
    font-weight: 600;
    }
    .cartList label{
        font-size: 12px;
        font-weight: 600;
        color: #123d7a;
        display: block;
        border-bottom: 1px solid #e1e1e1;
        padding-bottom: 10px;
    }
    .cartList .lists{
        padding: 10px;
        border-top: 1px solid #da4453;
    }
    .cartList .lists:nth-child(odd){
        background: #f6f6f6;
    }
</style>
<!-- Main Content -->

<section ng-controller="inquiryView">
    <div class="row">
        <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="media">
                            <div class="media-left p-1 media-middle">
                                <h1 class="teal">{{currencyFormat(inquiry.total)}}</h1>
                            </div>
                            <div class="media-body p-2">
                                <h2>Total Price</h2>
                                <span>Value of the inquiry</span>
                            </div>
                            <div class="media-right bg-teal p-2 media-middle">
                                <i class="icon-banknote font-large-2 white"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="card-block">
                                <small>Inquiry ID:</small>
                                <h3 id="inqId">#{{inquiry._id}}  
                                    <span class="tag tag-warning" ng-if="inquiry.status=='pending'">PENDING</span>
                                    <span class="tag tag-success" ng-if="inquiry.status=='deal'">DEAL</span>
                                    <span class="tag tag-default" ng-if="inquiry.status=='expired'">EXPIRED</span>
                                </h3>
                                <small>Owner: </small>
                                <h3>{{inquiry.owner}}</h3>
                                <small>Created Date: </small>
                                <h3>{{inquiry.created_at}}</h3>
                                <small>Last Update: </small>
                                <h3>{{inquiry.updated_at}}</h3>
                                <small>Sales From: </small>
                                <h3>{{inquiry.sales_from}}</h3>
                                <small>Website: </small>
                                <h3>{{inquiry.website}}</h3>
                        </div>
                        
                    </div>
                </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Customer Information</h4>
                </div>
                <div class="card-body">
                    <div class="card-block">
                        <div class="row">
                                <div class="col-md-6">
                                        <small>Customer Name</small>
                                        <h3>{{inquiry.customerData.name}}</h3>
                                        <small>Customer Phone</small>
                                        <h3>{{inquiry.customerData.phone}}</h3>
                                </div>
                                <div class="col-md-6">
                                        <small>Customer Email</small>
                                        <h3>{{inquiry.customerData.email}}</h3>
                                        <small>Customer Type</small>
                                        <h3>{{inquiry.customerData.type == 0 ? 'Personal' : 'Corporation'}}</h3>
                                </div>
                        </div>
                        <div class="row">
                                <div class="col-md-6">
                                        <small>Company Name</small>
                                        <h3>{{inquiry.customerData.company_name}}</h3>
                                        <small>Company Type</small>
                                        <h3>{{inquiry.customerData.company_type}}</h3>
                                </div>
                                <div class="col-md-6">
                                        <small>Company Email</small>
                                        <h3>{{inquiry.customerData.company_email}}</h3>
                                        <small>Company Phone</small>
                                        <h3>{{inquiry.customerData.company_phone}}</h3>
                                </div>
                                <div class="col-md-12">
                                        <small>Company Address</small>
                                        <p ng-bind-html="inquiry.customerData.company_address | linebreaks"></p>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Selected Items ( Cart )</h4>
                    </div>
                    <div class="card-body  cartList">
                        <!-- cartList Goes Here -->
                        <div class="col-md-12 lists" ng-repeat="cart in inquiry.cart">
                            <div class="col-md-2">
                                <img src="{{cart.image}}" style="width:100%;">
                            </div>
                            <div class="col-md-10">
                                    <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Product Name</label>
                                                <strong class="pname">{{cart.name}}</strong>
                                                <span class="pcode">[ {{cart.product_code}} ]</span>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                                <div class="form-group">
                                                    <label>Qty</label>
                                                    <strong>{{cart.qty}}</strong>
                                                </div>
                                        </div>
                                        <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>@Price</label>
                                                    <strong>{{currencyFormat(cart.price)}}</strong>
                                                </div>
                                        </div>
                                        <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Subtotal</label>
                                                    <strong>{{currencyFormat(cart.subtotal)}}</strong>
                                                </div>
                                        </div>
                                        <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Sender Name</label>
                                                    <strong>{{cart.sender_name}}</strong>
                                                </div>
                                                <div class="form-group">
                                                        <label>Receiver Name</label>
                                                        <strong>{{cart.receiver_name}}</strong>
                                                    </div>
                                                <div class="form-group">
                                                    <label>Shipping Expedition</label>
                                                    <strong>{{cart.shipping_expedition}}</strong>
                                                </div>
                                                <div class="form-group">
                                                    <label>Shipping Cost</label>
                                                    <strong>{{currencyFormat(cart.shipping_cost)}}</strong>
                                                </div>
                                        </div>
                                        <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Greetings</label>
                                                    <p ng-bind-html="cart.greetings | linebreaks"></p>
                                                </div>
                                                <div class="form-group">
                                                        <label>Receiver Phone</label>
                                                        <strong>{{cart.receiver_phone}}</strong>
                                                    </div>
                                                <div class="form-group">
                                                    <label>Shipping Country</label>
                                                    <strong>{{cart.country}}</strong>
                                                </div>
                                                <div class="form-group">
                                                        <label>Shipping Province</label>
                                                        <strong>{{cart.province}}</strong>
                                                </div>
                                        </div>
                                        <div class="col-md-4">
                                                <div class="form-group">
                                                        <label>Notes</label>
                                                        <p ng-bind-html="cart.notes | linebreaks"></p>
                                                    </div>
                                                <div class="form-group">
                                                    <label>Address</label>
                                                    <p ng-bind-html="cart.shipping_address | linebreaks"></p>
                                                </div>
                                                <div class="form-group">
                                                        <label>Shipping City</label>
                                                        <strong>{{cart.city}}</strong>
                                                </div>
                                                <div class="form-group">
                                                        <label>Delivery Date & Time</label>
                                                        <strong>{{cart.date_time}}</strong>
                                                </div>
                                        </div>
                                        <div class="clearfix"></div>
                            </div>
                           <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
            </div>
        </div>
    </div>    
</section>
    
    <!-- End Main Content -->
    <!-- INCLUDE JS -->
    <script src="/app/controller/enquiriesManagement/inquiryView.js" type="text/javascript"></script>
    <!-- END INCLUDE JS -->
    